#login{
    margin: auto;
    align-items: center;
    text-align:center;
}

@media screen and (orientation: landscape) {
    #orientate-right{
        position: relative;
        width: 50%;
        height: 100%;
        float: left;
    }
    .bg-glass{
        position: relative;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-right: 5vh;
        left: 50vw;
        margin-left: 5vh;
        top:0;
        left:0;
        right:0;
        bottom:0;
        height: 80vh;
    }
    
}

@media screen and (orientation: portrait) {
    #orientate-right{
        display: inline-block;
        position: relative;
        width: 0%;
        height: 100%;
    }
    .bg-glass{
        position: relative;
        margin-top: 5vw;
        margin-bottom: 5vw;
        margin-right: 5vw;
        margin-left: 5vw;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    
}