#login{
    margin: auto;
    align-items: center;
    text-align:center;
}

@media screen and (orientation: landscape) {
    .bg-glass{
        position: absolute;
        top: 5vh;
        bottom: 5vh;
        right: 5vh;
        left: 50vw + 5vh;
        min-width: 20%;
        min-height:43%;
    }
    
}

@media screen and (orientation: portrait) {
    .bg-glass{
        position: absolute;
        left: 5vw;
        top: 5vw;
        bottom: 5vw;
        right: 5vw;
        min-width: 43%;
        min-height:43%;
    }
    
}