#login{
    margin: auto;
    align-items: center;
    text-align:center;
}

@media screen and (orientation: landscape) {
    #orientate-right{
        position: relative;
        width: 50%;
        height: 100%;
    }
    .bg-glass{
        position: relative;
        top: 5vh;
        bottom: 5vh;
        right: 5vh;
        left: 5vh;
    }
    
}

@media screen and (orientation: portrait) {
    #orientate-right{
        position: relative;
        width: 0%;
        height: 100%;
    }
    .bg-glass{
        position: relative;
        left: 5vw;
        top: 5vw;
        bottom: 5vw;
        right: 5vw;
        min-width: 43%;
        min-height:43%;
    }
    
}